@import "../../mixin";

.DocsIndex {
  @include center;
  @include col;
  width: 100%;
  &Top {
    @include row;
    @include center;
    width: 100%;
    gap: 2%;
    .Card {
      border: 1px solid blue;
      background: #bdbdff;
      height: 200px;
      width: 40%;
      cursor: pointer;
      border-radius: 20px;
      &Center {
        @include col;
        @include center;
      }
    }
  }
  &Bottom {
    @include row;
    flex-wrap: wrap;
    @include center;
    width: 100%;
    &Card {
      width: 28%;
      margin: 2%;
      height: 200px;
      border-radius: 20px;
      border: 1px solid silver;
    }
  }
}
